$sm_min_width: 560px;
$md_min_width: 768px;      
$lg_min_width: 1024px;
$xl_min_width: 1280px;
$xxl_min_width: 1600px;

$sm_body_width: 90vw;
$md_body_width: 85vw;
$lg_body_width: 70vw;
$xl_body_width: 60vw;
$xxl_body_width: 50vw;